body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1{
    font-size: 24px;
}
img{
    width: 100%;
    border-bottom: 3px solid red;
}
p{
    font-size: 15px;
}

a{
    color: black;
    text-decoration: none;
    border-bottom: 1px solid red;
}
i{
    color: gray;
    font-style: italic;
}